.truncate-1-lines {
    display: -webkit-box;
    -webkit-line-clamp: 1;  /* Limits the text to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;  /* Adds an ellipsis (...) after the truncated text */
}
.truncate-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;  /* Limits the text to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;  /* Adds an ellipsis (...) after the truncated text */
}
.truncate-3-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;  /* Limits the text to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;  /* Adds an ellipsis (...) after the truncated text */
}
.truncate-4-lines {
    display: -webkit-box;
    -webkit-line-clamp: 4;  /* Limits the text to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;  /* Adds an ellipsis (...) after the truncated text */
}


